{% extends 'layouts/blank.html' %}

{% block content %}
<div class="sb-flex sb-flex-col sb-gap-4 sb-secondary game-holder">
  <a href="{% url 'game:home' %}">
    <button class="sb-text-center w-full sb-p-2 sb-cursor-pointer sb-mt-2">
    Back
    </button>
  </a>
    <h1>{{ game.name }}</h1>
    <h2>State: <span id="game-state">{{ game.state }}</span></h2>
    <span>{{ game.created_at }}</span>
    <p class="sb-text-center">{{game.type}}</p>
      {% if game.state == 'in_queue' %}
        <button 
        id="state-change-button"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-post="{% url 'game:update_state' game.name %}"
        hx-target="#game-state"
        hx-swap="innerHTML"
        hx-vals='{"state": "morning"}'
        class="sb-text-center w-full sb-p-2 sb-cursor-pointer sb-mb-6"
        >
            Start Game
        </button>
      {% else %}
      {% include 'a_game/partials/widgets/state_change_button.html' with state=game.state %}
      {% endif %}
</div>




<div class="sb-w-full chat-holder">
  <div class="sb-flex sb-items-center sb-justify-center sb-flex-col sb-w-full">
    <div class="sb-flex sb-w-full">
      <div 
      id="chat-room"
      hx-trigger="load"
      hx-get="/chat/chatroom/{{ chat_room.name }}/"
      ></div>
      <div
        id="online-count"
        hx-trigger="load"
        hx-get="/chat/online_count/{{ chat_room.name }}/"
        ></div>
    </div>
  </div>
</div>
{% endblock %}