body {
  background-color: rgb(20, 24, 28);
}

.chatroom-messages {
  padding: 0px;
  width: 100%;
  max-height: 18rem;
  min-height: 18rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatroom-messages li::marker {
  content: "";
}

.unmarked-list li::marker {
  content: "";
}

.chat-list-btn {
  width: 100%;
  text-align: center;
}

.chatroom-messages li {
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

.message-username {
  color: rgba(0, 0, 0, 0.466);
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  border-right: 1px solid rgba(0, 0, 0, 0.308);
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  padding-left: 0.3rem;
  border-bottom-right-radius: 10%;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.582);
}

.own-message-username {
  color: rgba(0, 82, 0, 0.603);
  text-align: right;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 82, 0, 0.603);
  border-left: 1px solid rgba(0, 82, 0, 0.603);
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  padding-left: 0.3rem;
  border-bottom-left-radius: 10%;
  box-shadow: -1px 1px 2px 0 rgba(0, 82, 0, 0.603);
}

.message-body {
  color: rgrgba(0, 0, 0, 0.815);
  text-align: center;
  width: 100%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.users-online-list {
  padding: 0px;
  width: 100%;
  max-height: 18rem;
  min-height: 18rem;
}

.users-online-list-item {
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

.full-form div {
  display: flex;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.chat-side-button {
  right: -5%;
  bottom: 5%;
  max-width: 22px;
  height: 90%;
  opacity: 0.5;
  border: none;
}

.chat-side-button:hover {
  cursor: pointer;
  width: 0.8rem;
}

#chat-room-header button {
  padding: 0.5rem;
  font-size: 0.875rem;
  border-radius: 15%;
  border: #00000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.reopen-chat-button {
  position: fixed;
  bottom: 33%;
  margin-bottom: 2rem;
  cursor: pointer;
  transform: translateX(-110%);
}
