
<li>
    <div class="sb-flex sb-justify-end sb-flex-row">
    {% if chat_message.author == user %}

    <div class="sb-pb-1 sb-flex sb-items-center sb-justify-center sb-w-full sb-grow">
        <p class="message-body">
            {{ chat_message.body }}
        </p>
    </div>
    <!-- name comes after the message -->
    {% include 'a_chat/partials/username_in_message.html' with chat_message=chat_message %}
    {% else %}
    <!-- name comes before the message -->
    {% include 'a_chat/partials/username_in_message.html' with chat_message=chat_message %}
    <div class="sb-pb-1 sb-flex sb-items-center sb-justify-center sb-w-full sb-grow">
        <p class="message-body">
            {{ chat_message.body }}
        </p>
    </div>
    {% endif %}
    </div>
</li>