<div 
class="sb-flex sb-grow sb-flex-col sb-items-end sb-justify-center "
id="online-count"
hx-swap-oob="outerHTML"
>
    <div class="sb-w-1/4 sb-h-32 sb-border-t-4 sb-border-b-8 sb-border-l sb-border-r
    sb-border-solid sb-border-primary sb-bg-white sb-p-2">
        <h3 class="sb-text-center">{{online_count}} Users Online</h3>
        <div 
        id="users-online-list"
        class="users-online-list">
            {% for user in chat_room.users_joined.all %}
            <div class="users-online-list-item">{{user.username}}</div>
            {% endfor %}
        </div>
    </div>
</div>